
  .footer {
    background-color: #FFD700; 
    height: 500px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30%; 
    background: #FFD700;
}
.our-service{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 500px;
    
}

.contact-us,
.business-time {
    color: #000000;
}

.contact-us h1,
.business-time h1 {
    font-size: 24px; 
}

.store-info {
    font-size: 18px; 
}

.copyright {
    text-align: center;
    padding: 10px;
    background-color: #FFD700; 
    border-top: 1px solid rgb(223, 223, 223);
  }