.card {
    width: 700px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 12);

}

.applianceimage {
    height: 500px;
    width: 500px;
    align-items: center;
}

.applianceimage img {
    min-width: 100%;
    display: block;
    margin-left: 110px;
    margin-right: auto;
    height: inherit;
    object-fit: contain;
    margin-top: 50px;
}

.applianceimage p {
    margin-left: 14em;
}

.content {
    padding: 2rem 1.8rem;
    font-size: 40px;
}