.image-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  

  .image-text img {
    width: 720px;  /* adjust as needed */
    height: 600px; /* adjust as needed */
    object-fit: cover;
  }
  
  .image-text p {
    text-align: center;
    font-size: 4em; 
    color: #6a72eb
  }